.auth {
  height: 50vh;
  width: 50vh;
  margin: 25vh auto;
  color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 3px 9px 20px rgba(0,0,0,0.5);
}

.auth-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

h4 {
  font-size: 6vh;
  width: min-content;
  margin: auto;
}

.auth-inputs {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

input,label {
  margin: 1vh;
}

label {
  text-align: right;
}

.auth img {
  height: 13vh;
  margin: auto;
  padding: 20px;
  width: auto;
  display: block;
}
